<div class="container">
  <div class="row">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">Player</th>
          <th scope="col" class="text-center">Program</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col" class="text-center fs-1 fw-bold text-primary">
            {{ score.player }}
          </td>
          <td scope="col" class="text-center fs-1 fw-bold text-primary">
            {{ score.program }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form [formGroup]="intervalForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Game Interval</label>
      <input class="form-control" name="interval" formControlName="interval" [disabled]="gameIsActive"/>
        
      <div class="alert alert-danger"
          *ngIf="intervalForm.controls['interval'].invalid && intervalForm.controls['interval'].value !== ''">
          Interval is incorrect
      </div>
      <div class="alert alert-danger"
        *ngIf="intervalForm.controls['interval'].value === ''">
        Interval is not set
  </div>
  </div>
  </form>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary" (click)="startGame($event)" [disabled]="gameIsActive || intervalForm.controls['interval'].invalid">
        New GAME!
      </button>
    </div>
  </div>
</div>
