<div class="container">
  <div class="row">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">Player</th>
          <th scope="col" class="text-center">Program</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col" class="text-center fs-1 fw-bold text-primary">
            {{ scoreMock.player }}
          </td>
          <td scope="col" class="text-center fs-1 fw-bold text-primary">
            {{ scoreMock.program }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary" (click)="startGame($event)">
        New GAME!
      </button>
    </div>
  </div>
</div>
